@page
@model FamilyHubs.ServiceDirectoryAdminUi.Ui.Pages.OrganisationAdmin.WhoForModel
@{
}

<a asp-page="/OrganisationAdmin/InPersonWhere" asp-route-strOrganisationViewModel="@Model.StrOrganisationViewModel" class="govuk-back-link">Back</a>

<main class="govuk-main-wrapper " id="main-content" role="main">
    <fieldset class="govuk-fieldset">
         <h1 class="govuk-fieldset__heading-m">
          Can children or young people use the service?
        </h1>
      

      <form method="post">

          <input asp-for="@Model.StrOrganisationViewModel" type="hidden" >

          <div class="govuk-form-group">
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="Children" name="Children" type="radio" value="Yes" aria-controls="age-range" @(Model.Children == "Yes" ? "checked='true'" : "")>
              <label class="govuk-label govuk-radios__label" for="Children">
                Yes, they can use the service
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="age-range">
              <div class="govuk-form-group">
                <label class="govuk-label" for="SelectedMinAge">
                  From
                </label>
                <select class="govuk-select" id="SelectedMinAge" name="SelectedMinAge" asp-for="SelectedMinAge">
                  <option value="Select age" selected disabled>Select age</option>
                 <option value="0">0 to 12 months</option>
                  <option value="1">1 year old</option>
                  <option value="2">2 years old</option>
                  <option value="3">3 years old</option>
                  <option value="4">4 years old</option>
                  <option value="5">5 years old</option>
                  <option value="6">6 years old</option>
                  <option value="7">7 years old</option>
                  <option value="8">8 years old</option>
                  <option value="9">9 years old</option>
                  <option value="10">10 years old</option>
                  <option value="11">11 years old</option>
                  <option value="12">12 years old</option>
                  <option value="13">13 years old</option>
                  <option value="14">14 years old</option>
                  <option value="15">15 years old</option>
                  <option value="16">16 years old</option>
                  <option value="17">17 years old</option>
                  <option value="18">18 years old</option>
                  <option value="19">19 years old</option>
                  <option value="20">20 years old</option>
                  <option value="21">21 years old</option>
                  <option value="22">22 years old</option>
                  <option value="23">23 years old</option>
                  <option value="24">24 years old</option>
                  <option value="25">25 years old</option>
                </select>
              </div>
              <div class="govuk-form-group">
                <label class="govuk-label" for="SelectedMaxAge">
                  To
                </label>
                <select class="govuk-select" id="SelectedMaxAge" name="SelectedMaxAge" asp-for="SelectedMaxAge">
                  <option value="Select age" selected disabled>Select age</option>
                  <option value="0">0 to 12 months</option>
                  <option value="1">1 year old</option>
                  <option value="2">2 years old</option>
                  <option value="3">3 years old</option>
                  <option value="4">4 years old</option>
                  <option value="5">5 years old</option>
                  <option value="6">6 years old</option>
                  <option value="7">7 years old</option>
                  <option value="8">8 years old</option>
                  <option value="9">9 years old</option>
                  <option value="10">10 years old</option>
                  <option value="11">11 years old</option>
                  <option value="12">12 years old</option>
                  <option value="13">13 years old</option>
                  <option value="14">14 years old</option>
                  <option value="15">15 years old</option>
                  <option value="16">16 years old</option>
                  <option value="17">17 years old</option>
                  <option value="18">18 years old</option>
                  <option value="19">19 years old</option>
                  <option value="20">20 years old</option>
                  <option value="21">21 years old</option>
                  <option value="22">22 years old</option>
                  <option value="23">23 years old</option>
                  <option value="24">24 years old</option>
                  <option value="25">25 years old</option>
                </select>
              </div>

            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="Children-2" name="Children" type="radio" value="No" @(Model.Children == "No" ? "checked='true'" : "")>
              <label class="govuk-label govuk-radios__label" for="Children">
                No, they cannot use the service
              </label>
            </div>
        </div>
        </div>
@*
        <div class="govuk-form-group">
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="WhoForSelectionAge" name="WhoForSelection" type="checkbox" value="Children" data-aria-controls="age-range" @(Model.WhoForSelection != null && Model.WhoForSelection.Any(x=>x=="Children") ? "data-conditional-active" : "")>
              <label class="govuk-label govuk-checkboxes__label" for="WhoForSelectionAge">
                Children and young people
              </label>
            </div>
            <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="age-range" >
              <div class="govuk-form-group">
                <label class="govuk-label" for="SelectedMinAge">
                  From
                </label>
                <select class="govuk-select" id="SelectedMinAge" name="SelectedMinAge" asp-for="SelectedMinAge">
                  <option value="0">0 to 12 months</option>
                  <option value="1">1 year old</option>
                  <option value="2">2 year old</option>
                  <option value="3">3 year old</option>
                  <option value="4">4 year old</option>
                  <option value="5">5 year old</option>
                  <option value="6">6 year old</option>
                  <option value="7">7 year old</option>
                  <option value="8">8 year old</option>
                  <option value="9">9 year old</option>
                  <option value="10">10 year old</option>
                  <option value="11">11 year old</option>
                  <option value="12">12 year old</option>
                  <option value="13">13 year old</option>
                  <option value="14">14 year old</option>
                  <option value="15">15 year old</option>
                  <option value="16">16 year old</option>
                  <option value="17">17 year old</option>
                  <option value="18">18 year old</option>
                  <option value="19">19 year old</option>
                </select>
              </div>
              <div class="govuk-form-group">
                <label class="govuk-label" for="SelectedMaxAge">
                  To
                </label>
                <select class="govuk-select" id="SelectedMaxAge" name="SelectedMaxAge" asp-for="SelectedMaxAge">
                  <option value="0">0 to 12 months</option>
                  <option value="1">1 year old</option>
                  <option value="2">2 year old</option>
                  <option value="3">3 year old</option>
                  <option value="4">4 year old</option>
                  <option value="5">5 year old</option>
                  <option value="6">6 year old</option>
                  <option value="7">7 year old</option>
                  <option value="8">8 year old</option>
                  <option value="9">9 year old</option>
                  <option value="10">10 year old</option>
                  <option value="11">11 year old</option>
                  <option value="12">12 year old</option>
                  <option value="13">13 year old</option>
                  <option value="14">14 year old</option>
                  <option value="15">15 year old</option>
                  <option value="16">16 year old</option>
                  <option value="17">17 year old</option>
                  <option value="18">18 year old</option>
                  <option value="19">19 year old</option>
                </select>
              </div>

          </div>
        </div>
        </div>
*@
        <button class="govuk-button">
          Continue
        </button>
      </form>
    </fieldset>
</main>
